<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- 类型别名定义，为模型类所在包的包名 -->
        <package name="com.moekosu.constant"/>
    </typeAliases>
    <mappers>
        <!--
            映射文件所在位置，该文件放置于src/main/resources下，但是
            包名应该和mapper映射接口保持一致，这样mybatis在获取映射时
            才能获取到mapper接口中对应的方法和mapper文件中对应的id的
            对应关系
         -->
        <mapper resource="mapper/*.xml"/>
    </mappers>
</configuration>